.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--content-section-color);
  font-style: normal;

  &__label {
    text-align: center;
    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: baseline;
    }
    @media screen and (min-width: 1200px) {
      width: 1200px;
      display: flex;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: baseline;
      text-align: start;
    }
  }

  &__address {
    font-style: normal;
    margin-bottom: 60px;
    @media screen and (min-width: 768px) {
      margin-right: 165px;
    }
    @media screen and (min-width: 1200px) {
      margin-right: 70px;
      margin-bottom: 0;
    }
  }

  &__logo {
    color: var(--container-hero-color);
  }

  &__street {
    margin-top: 20px;
    margin-bottom: 9px;

    color: var(--container-hero-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
  }

  &__mail {
    margin-bottom: 9px;
  }

  &__email,
  &__tel {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
    transition: color 250ms var(--timing-function);
    color: var(--section-footer-color);
  }
  &__email:hover,
  &__email:focus,
  &__tel:hover,
  &__tel:focus {
    color: var(--tittle-buttom-color);
  }

  &__link {
    text-align: center;
    margin-bottom: 60px;
    @media screen and (min-width: 1200px) {
      margin-right: 92px;
      margin-bottom: 0;
    }
  }

  &__title {
    font-style: normal;
    text-decoration: none;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;

    color: var(--container-hero-color);
    @media screen and (min-width: 1200px) {
      text-align: start;
    }
  }
  &__svg {
    background-color: rgba(255, 255, 255, 0.1);
    fill: var(--icons-bgr-color);
    &:hover,
    &:focus {
      background-color: var(--tittle-buttom-color);
    }
  }
}
