.form__title {
  display: block;
  font-style: normal;
  text-decoration: none;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--container-hero-color);
}
.form__label {
  @media screen and (min-width: 1200px) {
    display: flex;
    gap: 12px;
    justify-content: center;
  }
}
.form input {
  width: 100%;
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: var(--content-section-color);
  color: rgba(255, 255, 255, 0.6);
  @media screen and (min-width: 1200px) {
    width: 358px;
    margin-bottom: 0;
  }
}

.form__button {
  position: relative;
  padding-right: 28px;
  margin: 0px auto;
  min-width: 200px;
  height: 50px;
  @extend %button;
  background-color: var(--tittle-buttom-color);
  color: var(--container-hero-color);
  border: var(--tittle-buttom-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: background-color 250ms var(--timing-function);
  &:hover {
    background-color: var(--buttom-hero-color);
  }
}

.form__svg {
  position: absolute;
  bottom: 13px;
  right: 28px;
}
