// Змінні //
:root {
  --primery-web-color: #000000;
  --brand-text-color: #212121;
  --tittle-text-color: #757575;
  --background-color: #f5f5f5;
  --tittle-buttom-color: #2196f3;
  --container-hero-color: #ffffff;
  --content-section-color: #2f303a;
  --section-item-color: #f5f4fa;
  --section-footer-color: rgba(255, 255, 255, 0.6);
  --buttom-hero-color: #188ce8;
  --icons-color: #afb1b8;
  --icons-bgr-color: #ffffff;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
