.first-section {
  padding: 118px 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: 480px;
  background-image: var(--bg-gradient), url(../images/Hero-section/Hero-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--content-section-color);

  @include retina {
    background-image: var(--bg-gradient),
      url(../images/Hero-section/Hero-mob@2x.jpg);
  }

  @media screen and (min-width: 768px) {
    max-width: 768px;
    background-image: var(--bg-gradient),
      url(../images/Hero-section/Hero-tablet.jpg);
    @include retina {
      background-image: var(--bg-gradient),
        url(../images/Hero-section/Hero-tablet@2x.jpg);
    }
  }

  @media screen and (min-width: 1200px) {
    padding: 200px 0;
    max-width: 1600px;
    background-image: var(--bg-gradient),
      url(../images/Hero-section/Hero-desktop.jpg);
    @include retina {
      background-image: var(--bg-gradient),
        url(../images/Hero-section/Hero-desktop@2x.jpg);
    }
  }

  &__name {
    margin: 0 auto;
    margin-bottom: 30px;
    color: var(--container-hero-color);
    max-width: 360px;
    font-weight: 900;
    text-align: center;

    font-size: 26px;
    line-height: 1.61;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    @media screen and (min-width: 1200px) {
      max-width: 696px;
      font-size: 44px;
      line-height: 1.36;
    }
  }

  &__button {
    padding: 11px 32px;
    border: 0;
    min-width: 216px;
    @extend %button;
    @include transition();
    background-color: var(--tittle-buttom-color);
    color: var(--container-hero-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    &:hover,
    &:focus {
      background-color: var(--buttom-hero-color);
      color: var(--container-hero-color);
    }
  }
}
