.team-section {
  padding: 60px 0;
  background-color: var(--section-item-color);
  @media screen and (min-width: 1200px) {
    padding: 94px 0;
  }

  &__title {
    margin-bottom: 30px;
    @media screen and (min-width: 1200px) {
      margin-bottom: 50px;
    }
    @extend %header;
    color: var(--brand-text-color);
  }
}
