/* Форма заповнення */
.form-modal__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  color: var(--brand-text-color);
  @media screen and (min-width: 1200px) {
    font-size: 20px;
    line-height: 1.15;
  }
}

.form-modal__label {
  display: flex;
  flex-direction: column;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: var(--tittle-text-color);
}

.form-modal__name {
  position: relative;
}

.form-modal__input {
  padding: 11px 12px;
  padding-left: 42px;
  margin-bottom: 10px;
  // min-width: 448px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  transition: border 250ms var(--timing-function);
  &:focus {
    border: 1px solid var(--tittle-buttom-color);
  }
  &:focus + form-modal__svg {
    fill: var(--tittle-buttom-color);
  }
}

.form-modal__svg {
  position: absolute;
  top: 11px;
  left: 12px;
  transition: fill 250ms var(--timing-function);
}

.form-modal__textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  margin-bottom: 20px;
  outline: transparent;
  transition: border 250ms var(--timing-function);
  &:focus {
    border: 1px solid var(--tittle-buttom-color);
  }
  &::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
  }
}

.form-modal__checkbox {
  margin-left: 13px;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--tittle-text-color);
}

.form-modal__icon {
  display: flex;
  align-items: center;
  gap: 9px;
  font-size: 12px;
  line-height: 1.16;
  font-weight: 400;
  letter-spacing: 0.03em;
  width: 370px;

  color: var(--tittle-text-color);

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.71;
    width: 425px;
  }
}

.form-modal__chek:checked + .form-modal__icon span {
  background-color: var(--tittle-buttom-color);
  border-color: transparent;
  fill: var(--container-hero-color);
  transition: background-color 250ms var(--timing-function),
    fill 250ms var(--timing-function);
}

.form-modal__icon span {
  border: 2px solid var(--brand-text-color);
  width: 16px;
  height: 15px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.form-modal__link {
  text-decoration: underline;
  color: var(--tittle-buttom-color);
}

.form-modal__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  height: 50px;
  margin: 0 auto;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  color: var(--container-hero-color);
  background-color: var(--tittle-buttom-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: var(--tittle-buttom-color);
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms var(--timing-function);
  &:hover,
  &:focus {
    background-color: var(--buttom-hero-color);
  }
}
