.info {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  &__section {
    width: 100%;
    @media screen and (min-width: 768px) {
      width: calc((100% - 30px) / 2);
    }
    @media screen and (min-width: 1200px) {
      width: calc((100% - 90px) / 4);
    }
  }

  &__svg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    margin-bottom: 30px;

    background-color: var(--section-item-color);
    border-radius: 4px;
  }

  &__containers {
    margin-bottom: 10px;

    color: var(--brand-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
  }

  &__business {
    color: var(--tittle-text-color);

    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
  }
}
