.group-company {
  padding: 60px 0;
  @media screen and (min-width: 1200px) {
    padding: 94px 0;
  }
  &__title {
    margin-bottom: 30px;
    @media screen and (min-width: 1200px) {
      margin-bottom: 50px;
    }
    @extend %header;
    color: var(--brand-text-color);
  }
}

.company {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  &__item {
    width: calc((100% - 30px) / 2);
    @media screen and (min-width: 768px) {
      width: calc((100% - 60px) / 3);
    }
    @media screen and (min-width: 1200px) {
      width: calc((100% - 150px) / 6);
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 92px;

    border-radius: 4px;
    margin: 0;
    transition: fill 250ms var(--timing-function),
      border 250ms var(--timing-function);
    border: 1px solid var(--icons-color);
    fill: var(--icons-color);
    &:hover,
    &:focus {
      background-color: var(--container-hero-color);
      fill: var(--tittle-buttom-color);
      border: 1px solid var(--tittle-buttom-color);
    }
  }
}
