.header {
  border-bottom: 1px solid #ececec;
  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__logo {
    @media screen and (min-width: 768px) {
      margin-right: 93px;
    }
  }
  &__gruop {
    display: none;
    @media screen and (min-width: 768px) {
      display: flex;
      margin-left: auto;
    }
  }

  &__link {
    @media screen and (min-width: 768px) {
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 10px;
    }
    @media screen and (min-width: 1200px) {
      display: flex;
      align-items: center;
      gap: 30px;
      flex-direction: row;
    }
  }

  &__info {
    margin-left: auto;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    transition: color 250ms var(--timing-function);

    color: var(--tittle-text-color);
  }

  &__info:hover,
  &__info:focus {
    color: var(--tittle-buttom-color);
  }

  &__svg {
    margin-right: 10px;
    fill: currentColor;
  }
}

.logo {
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  transition: color 250ms var(--timing-function);
  color: var(--primery-web-color);
  padding: 16px 0 16px 0;
  &:hover,
  &:focus {
    color: var(--tittle-buttom-color);
  }
  &__web--accent {
    color: var(--tittle-buttom-color);
  }
}
