.mob-menu {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--container-hero-color);
  padding: 48px 40px;
  z-index: 1;
  @media screen and (min-width: 768px) {
    display: none;
  }

  > .conteiner {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
  }
  &__button {
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;
  }
  &__icon {
    transition: color 250ms var(--timing-function);
    fill: #212121;
    &:hover,
    &:focus {
      fill: var(--tittle-buttom-color);
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 35px;
    margin-bottom: 50px;
  }

  &__link {
    text-decoration: none;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    transition: color 250ms var(--timing-function);

    color: #212121;

    &:hover,
    &:focus {
      color: var(--tittle-buttom-color);
    }

    &--current {
      color: var(--tittle-buttom-color);
    }
  }

  &__gruop {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-bottom: 64px;
  }

  &__phone {
    text-decoration: none;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    transition: color 250ms var(--timing-function);

    color: #757575;
    &:hover,
    &:focus {
      color: var(--tittle-buttom-color);
    }
  }

  &__mail {
    text-decoration: none;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    transition: color 250ms var(--timing-function);

    color: #757575;
    @media screen and (max-width: 400px) {
      font-size: 20px;
    }
    &:hover,
    &:focus {
      color: var(--tittle-buttom-color);
    }
  }
}

.mob-social {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  &__class {
    position: relative;
    &:not(:last-child)::before {
      content: "";
      position: absolute;
      top: 10px;
      right: -20px;
      width: 22px;
      height: 1px;
      border: 1px solid rgba(33, 33, 33, 0.2);
      transform: rotate(90deg);
    }
  }

  &__link {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;

    color: #2196f3;
  }
}
